version: '3'

services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file: .env
    networks:
      - net-tier

  backend:
    depends_on:
      - db
    env_file: .env
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    networks:
      - net-tier

  frontend:
    depends_on:
      - backend
    build: ./frontend
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "8080:8080"
    stdin_open: true
    tty: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - net-tier

networks:
  net-tier:
    driver: bridge
