asgiref==3.5.2 ; python_full_version == "3.9.12"
django==4.1.1 ; python_full_version == "3.9.12"
psycopg2-binary==2.9.3 ; python_full_version == "3.9.12"
pydantic==1.10.2 ; python_full_version == "3.9.12"
sqlparse==0.4.2 ; python_full_version == "3.9.12"
typing-extensions==4.3.0 ; python_full_version == "3.9.12"
tzdata==2022.2 ; sys_platform == "win32" and python_full_version == "3.9.12"
