argon2-cffi-bindings==21.2.0 ; python_full_version == "3.9.13"
argon2-cffi==21.3.0 ; python_full_version == "3.9.13"
asgiref==3.7.2 ; python_full_version == "3.9.13"
autopep8==1.7.0 ; python_full_version == "3.9.13"
beautifulsoup4==4.12.2 ; python_full_version == "3.9.13"
cffi==1.15.1 ; python_full_version == "3.9.13"
cryptography==41.0.1 ; python_full_version == "3.9.13"
django-ckeditor==6.6.1 ; python_full_version == "3.9.13"
django-cors-headers==4.2.0 ; python_full_version == "3.9.13"
django-filebrowser==4.0.2 ; python_full_version == "3.9.13"
django-grappelli==3.0.6 ; python_full_version == "3.9.13"
django-js-asset==2.1.0 ; python_full_version == "3.9.13"
django-rest-knox==4.2.0 ; python_full_version == "3.9.13"
django-tinymce==3.6.1 ; python_full_version == "3.9.13"
django==4.0.10 ; python_full_version == "3.9.13"
djangorestframework==3.14.0 ; python_full_version == "3.9.13"
drf-yasg==1.21.6 ; python_full_version == "3.9.13"
inflection==0.5.1 ; python_full_version == "3.9.13"
packaging==23.1 ; python_full_version == "3.9.13"
pillow==9.5.0 ; python_full_version == "3.9.13"
psycopg2-binary==2.9.6 ; python_full_version == "3.9.13"
pycodestyle==2.10.0 ; python_full_version == "3.9.13"
pycparser==2.21 ; python_full_version == "3.9.13"
pydantic==1.10.11 ; python_full_version == "3.9.13"
python-dotenv==0.21.1 ; python_full_version == "3.9.13"
pytz==2023.3 ; python_full_version == "3.9.13"
pyyaml==6.0 ; python_full_version == "3.9.13"
six==1.16.0 ; python_full_version == "3.9.13"
soupsieve==2.4.1 ; python_full_version == "3.9.13"
sqlparse==0.4.4 ; python_full_version == "3.9.13"
toml==0.10.2 ; python_full_version == "3.9.13"
typing-extensions==4.7.1 ; python_full_version == "3.9.13"
tzdata==2023.3 ; sys_platform == "win32" and python_full_version == "3.9.13"
uritemplate==4.1.1 ; python_full_version == "3.9.13"
