argon2-cffi-bindings==21.2.0 ; python_full_version == "3.9.16"
argon2-cffi==21.3.0 ; python_full_version == "3.9.16"
asgiref==3.7.2 ; python_full_version == "3.9.16"
autopep8==1.7.0 ; python_full_version == "3.9.16"
beautifulsoup4==4.12.2 ; python_full_version == "3.9.16"
cffi==1.15.1 ; python_full_version == "3.9.16"
cryptography==41.0.1 ; python_full_version == "3.9.16"
django-ckeditor==6.6.1 ; python_full_version == "3.9.16"
django-cors-headers==4.2.0 ; python_full_version == "3.9.16"
django-filebrowser==4.0.2 ; python_full_version == "3.9.16"
django-grappelli==3.0.6 ; python_full_version == "3.9.16"
django-js-asset==2.1.0 ; python_full_version == "3.9.16"
django-rest-knox==4.2.0 ; python_full_version == "3.9.16"
django-tinymce==3.6.1 ; python_full_version == "3.9.16"
django==4.0.10 ; python_full_version == "3.9.16"
djangorestframework==3.14.0 ; python_full_version == "3.9.16"
drf-yasg==1.21.6 ; python_full_version == "3.9.16"
inflection==0.5.1 ; python_full_version == "3.9.16"
packaging==23.1 ; python_full_version == "3.9.16"
pillow==9.5.0 ; python_full_version == "3.9.16"
psycopg2-binary==2.9.6 ; python_full_version == "3.9.16"
pycodestyle==2.10.0 ; python_full_version == "3.9.16"
pycparser==2.21 ; python_full_version == "3.9.16"
pydantic==1.10.11 ; python_full_version == "3.9.16"
python-dotenv==0.21.1 ; python_full_version == "3.9.16"
pytz==2023.3 ; python_full_version == "3.9.16"
pyyaml==6.0 ; python_full_version == "3.9.16"
six==1.16.0 ; python_full_version == "3.9.16"
soupsieve==2.4.1 ; python_full_version == "3.9.16"
sqlparse==0.4.4 ; python_full_version == "3.9.16"
toml==0.10.2 ; python_full_version == "3.9.16"
typing-extensions==4.7.1 ; python_full_version == "3.9.16"
tzdata==2023.3 ; sys_platform == "win32" and python_full_version == "3.9.16"
uritemplate==4.1.1 ; python_full_version == "3.9.16"
