argon2-cffi-bindings==21.2.0 ; python_full_version == "3.9.13"
argon2-cffi==21.3.0 ; python_full_version == "3.9.13"
asgiref==3.6.0 ; python_full_version == "3.9.13"
autopep8==1.7.0 ; python_full_version == "3.9.13"
cffi==1.15.1 ; python_full_version == "3.9.13"
django==4.2.1 ; python_full_version == "3.9.13"
psycopg2-binary==2.9.6 ; python_full_version == "3.9.13"
pycodestyle==2.10.0 ; python_full_version == "3.9.13"
pycparser==2.21 ; python_full_version == "3.9.13"
pydantic==1.10.7 ; python_full_version == "3.9.13"
python-dotenv==0.21.1 ; python_full_version == "3.9.13"
sqlparse==0.4.4 ; python_full_version == "3.9.13"
toml==0.10.2 ; python_full_version == "3.9.13"
typing-extensions==4.5.0 ; python_full_version == "3.9.13"
tzdata==2023.3 ; sys_platform == "win32" and python_full_version == "3.9.13"
