name: Code Style (JavaScript)

on: [push, pull_request]

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.17.0

      # ESLint and Prettier must be in `package.json`
      - name: Install Node.js dependencies
        run: |
          working-directory: ./frontend
          if [ -e yarn.lock ]; then
          yarn install --frozen-lockfile
          elif [ -e package-lock.json ]; then
          npm ci
          else
          npm i
          fi

      - name: Run linters
        run: yarn run eslint . --ext .ts,.tsx,.js,.jsx --fix
        # uses: wearerequired/lint-action@v2
        # with:
        #   eslint: true
        #   prettier: true
