name: Code Style (Python)

on: [push, pull_request]

jobs:
  flake8_black:
    name: Run flake 8 and black
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v2

      - name: Set up Python 3.9.12
        uses: actions/setup-python@v2
        with:
          python-version: 3.9.12

      - name: Install flake8 and black
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black

      - name: Lint with flake8
        run: flake8 --max-line-length=119

      - name: Check code format with black
        run: black --check --line-length 119 .
