name: Code Style (Next.js)

on:
  pull_request:
    paths:
      - frontend/**
  push:
    tags:
      - "*"

jobs:
  run-eslint:
    name: Run ESLint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20.2.0

      - name: Install Dependencies
        run: yarn install --frozen-lockfile
        working-directory: frontend

      - name: Lint with ESLint
        run: yarn eslint . --quiet --max-warnings=0 --ignore-path ../.gitignore
        working-directory: frontend

      - name: Check for ESLint errors
        run: yarn eslint . --quiet --max-warnings=0 --ignore-path ../.gitignore
        working-directory: frontend
